services:
  # BACKEND SERVICE
  - type: web
    name: medibook-backend
    runtime: node
    region: singapore
    plan: free
    rootDir: doctor-backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
      - key: MONGO_URI
        sync: false
      - key: JWT_SECRET
        sync: false
