apiVersion: v1
kind: ConfigMap
metadata:
  name: appointment-config
data:
  PORT: "5003"
  MONGO_URI: "mongodb+srv://admin:admin123@cluster0.mongodb.net/medibook?retryWrites=true&w=majority"
  JWT_SECRET: "supersecretkey123"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: appointment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: appointment-service
  template:
    metadata:
      labels:
        app: appointment-service
    spec:
      containers:
      - name: appointment-service
        image: appointment-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5003
        envFrom:
        - configMapRef:
            name: appointment-config
---
apiVersion: v1
kind: Service
metadata:
  name: appointment-service
spec:
  selector:
    app: appointment-service
  ports:
    - protocol: TCP
      port: 5003
      targetPort: 5003
  type: ClusterIP
