apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
data:
  PORT: "5000"
  AUTH_SERVICE_URL: "http://auth-service:5001"
  DOCTOR_SERVICE_URL: "http://doctor-service:5002"
  APPOINTMENT_SERVICE_URL: "http://appointment-service:5003"
  ADMIN_SERVICE_URL: "http://admin-service:5004"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway-service
  template:
    metadata:
      labels:
        app: gateway-service
    spec:
      containers:
      - name: gateway-service
        image: gateway-service:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
        envFrom:
        - configMapRef:
            name: gateway-config
---
apiVersion: v1
kind: Service
metadata:
  name: gateway-service
spec:
  selector:
    app: gateway-service
  type: NodePort
  ports:
    - protocol: TCP
      port: 5000
      targetPort: 5000
      nodePort: 30005 # Fixed port for local testing
