apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: 'auth-service'
        static_configs:
          - targets: ['auth-service:5001']
      - job_name: 'doctor-service'
        static_configs:
          - targets: ['doctor-service:5002']
      - job_name: 'appointment-service'
        static_configs:
          - targets: ['appointment-service:5003']
      - job_name: 'admin-service'
        static_configs:
          - targets: ['admin-service:5004']
      - job_name: 'gateway-service'
        static_configs:
          - targets: ['gateway-service:5000']
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
      - name: prometheus
        image: prom/prometheus
        ports:
        - containerPort: 9090
        volumeMounts:
        - name: config-volume
          mountPath: /etc/prometheus/prometheus.yml
          subPath: prometheus.yml
      volumes:
      - name: config-volume
        configMap:
          name: prometheus-config
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
spec:
  selector:
    app: prometheus
  type: NodePort
  ports:
    - protocol: TCP
      port: 9090
      targetPort: 9090
      nodePort: 30090
